# Git
.git/
.gitignore

# Docker
docker-compose.yml
Dockerfile
.dockerignore

# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
.venv/
env/
ENV/
*.egg-info/
.eggs/
build/
dist/

# Env
.env
.env.local

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Документация
README.md
issue.md